.cm-s-argon span.cm-keyword { line-height: 1em; font-weight: bold; color: #5A5CAD; }
.cm-s-argon span.cm-number { color: #194; }
.cm-s-argon span.cm-operator {}
.cm-s-argon span.cm-string { color: red; }
.cm-s-argon span.cm-builtin { color: #A6567E; }
.cm-s-argon span.cm-bracket { color: #666; }
.cm-s-argon .CodeMirror-matchingbracket { color:black !important;background: #ddd; }
.cm-s-argon .CodeMirror-nonmatchingbracket { color: black !important; background: #fcc; }
